body{
    background-color: #fff;
}
header{
    background-color: aqua;
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
}

main{
    background-color: rgb(red, green, blue);
}